:root {
  --black: #191919;
  --white: #e2e2e2;
  --blue: #98c6f5;
}

.contents-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1280px;
  height: 800px;
  padding: 50px;
  color: var(--black);
  border: 1px solid var(--white);
  overflow-y: hidden;
}

/* 로그인 페이지 수정 */
.login_root {
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: 0;
  overflow: hidden;
}

.login_page {
  position: absolute;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.circle_logo {
  display: block;
}

.circle_logo_center {
  display: none;
}

.transition_1 {
  background-color: #40a0ff;
  flex-direction: column;
  z-index: 2;
}

.transition_3 {
  background: linear-gradient(180deg, #40a0ff 61.79%, #5ec9ff 100%);
  justify-content: flex-end;
}

.transition_1 > img {
  cursor: pointer;
}

.text_div_bottom {
  position: absolute;
  bottom: 64px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.circle_ear_title {
  width: 80%;
  display: flex;
  padding-left: 52px;
  height: 100%;
  flex-direction: column;
  font-size: 2.2em;
  margin-top: 296px;
  line-height: 1.4em;
}

.img_circle_logo,
.img_circle_ear {
  z-index: -1;
  position: absolute;
  top: 0;
}

.img_circle_ear {
  right: 0;
}

.btn_div_bottom {
  width: 80%;
  text-align: center;
  margin-bottom: 48px;
}

.img_circle_logo {
  left: 0;
}

.text_edition,
.text_volume_cert {
  text-align: center;
  color: #ffffff;
}

.text_edition > span {
  font-size: 1em;
  line-height: 2.4em;
}

.text_volume_cert > span {
  font-size: 1.2em;
}
.btn_next_page {
  background: #40a0ff;
  border-radius: 35px;
  box-shadow: #40a0ff 0 5px 10px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 16px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
}

.form_area {
  margin-right: 162px;
}

.form_group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form_style {
  padding: 8px 0 0 44px;
  height: 48px;
  width: 366px;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 22px;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  margin-bottom: 10px;
}
.form_style:focus,
.form_style:active {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffffff;
}
.input_icon {
  position: absolute;
  top: 19px;
  left: 6px;
  height: 24px;
  width: 24px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-size: 24px;
}

.icon_account {
  background: url("/public/images/icons/icon_email_gray.png") no-repeat left;
}

.icon_password {
  background: url("/public/images/icons/icon_lock_gray.png") no-repeat left;
}

.form_group input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form_group input:-webkit-autofill,
.form_group input:-webkit-autofill:hover,
.form_group input:-webkit-autofill:focus,
.form_group input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

.account_link {
  text-align: center;
}

.account_link > div {
  padding-bottom: 36px;
}
.account_link > div > span > a {
  border-bottom: 1px solid #ffffff;
  font-size: 1em;
  color: #ffffff;
  padding-bottom: 4px;
}

.btn_login_bottom {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 64px;
}

.btn_login {
  display: inline-block;
  background: #ffffff;
  border-radius: 38px;
  box-sizing: border-box;
  color: #545454;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 16px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 222px;
  font-size: 1.6em;
  font-weight: 600;
}

.auth_error {
  text-align: center;
  margin-top: 15px;
}

.auth_error > span {
  font-size: 1.2em;
  font-weight: 600;
  color: #ff9f40;
}

/* Header.tsx */
.header-wrapper {
  width: 100%;
  height: 75px;
  background-color: #f3f3f3;
  font-weight: 500;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.header-logo img {
  width: 100%;
}

.nav {
  display: flex;
  font-weight: 600;
  color: #4894fe;
}
.nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 25px;
  transition: all 0.2s ease-out;
}
.nav > a > img {
  margin: 0 5px 0 0;
}

/* UserModal */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 999;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  transform: translate(-50%, -60%);
  background-color: rgb(218 227 237);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 0px 7px #cccccc5e;
}
.modal-name {
  font-weight: 800;
  font-size: 25px;
  margin: 30px 0;
}
.modal-btn {
  width: 80%;
  height: 50px;
  border-radius: 50px;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 800;
}

/* Home.tsx */
.main-wrapper {
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 0;
}

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.main-contents.home {
  flex-direction: row;
}
.main-contents.home > p {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.main-contents.info {
  flex-direction: row;
  align-items: flex-start;
}

.main-select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1124px;
  /* min-width: 1124px;
  max-width: 1124px; */
  height: 717px;
  /* min-height: 717px;
  max-height: 717px; */
  padding: 50px;
  background-color: #fff;
  border-radius: 40px;
}
.main-contents.home .main-select-wrapper {
  background-color: #fbfbfb;
  justify-content: flex-start;
}
.main-select-wrapper > p,
.main-contents__column > p {
  width: 100%;
  margin: 0;
  padding: 0 0 14px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.main-contents__column > p {
  color: #000;
  margin: 0 0 20px 0;
  border: none;
  font-weight: 700;
}
.main-select-wrapper p.font-light {
  margin: 15px 0 30px 0;
  padding: 0;
  color: #0d1b34;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  border: none;
}

.select-type {
  display: flex;
  flex-direction: column;
}
.select-type__button {
  width: 295px;
  height: 66px;
  margin: 10px 0;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  line-height: 62px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  transition: all 0.15s ease;
}
.select-type__button.position {
  position: absolute;
  top: 42.4%;
}

.main-contents__top {
  display: flex;
}
.main-description {
  margin: 0 0 0 100px;
  font-size: 22px;
  font-weight: 400;
  line-height: 180%;
  word-break: keep-all;
}
.license-text.mobile {
  display: none;
}

.select-button-wrapper {
  display: flex;
  margin: 50px 0 0 0;
}
.select-button-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  margin: 0px 15px;
  border-radius: 100%;
  background-color: #40a0ff;
}

.main-contents__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
}

.bottom-app-bar-container {
  display: none;
}

.main-contents.home .main-logo-bottom {
  left: 250px;
}

/* MyPage.tsx */
.main-contents.info {
  padding: 75px 0 0 0;
}
.main-select-wrapper.info > p {
  margin: 0 0 33px 0;
}
.main-select-wrapper.info .link__mobile {
  display: none;
}
.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 18px 0;
}

.user-info.baseline {
  align-items: baseline;
}
.info-num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin: 0 14px 0 0;
  background-color: #40a0ff;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.info-text {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
}
.info-input {
  background: none;
  border: none;
  /* outline: none; */
  width: 200px;
  height: 46px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
}
.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.change-password__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-password__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-password__flex > p {
  width: 100px;
  margin: 0 25px 0 0;
}
.info-input.underline {
  background: none;
  border: none;
  border-bottom: 1px solid #8696bb;
}

.header-wrapper.my-page,
.bottom-nav-bar-container.my-page,
.header-wrapper.settings,
.bottom-nav-bar-container.settings {
  display: none;
}

/* Snb.tsx */
.snb {
  width: 161px;
  margin: 60px 60px 0 0;
  transition: all 0.2s ease-out;
}

.select-type__snb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
}
.snb-select-type__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 55px;
  padding: 12px 20px;
  background-color: #40a0ff;
  border-radius: 100px;
  font-weight: 900;
}

/* Test01Menu.tsx */
.swiper.swipe-header-tabs-container {
  display: none;
}

.main-contents.home.test {
  align-items: flex-start;
}
.main-contents.home.test .main-contents__column > p {
  margin: 0;
  padding: 0;
}
.main-contents.home.test .main-select-wrapper {
  background-color: transparent;
  padding: 30px;
}

.test-card-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 766px;
  padding: 25px 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 12px 20px 0px rgba(90, 117, 167, 0.04);
  color: #40a0ff;
  margin: 0 0 20px 0;
}
.test-card-wrapper:last-child {
  margin: 0;
}
.test-card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 15%;
}
.test-card-wrapper .test-card-left .font-light {
  margin: 0;
  color: #40a0ff;
  font-size: 15px;
  font-weight: 600;
}
.test-card-left .font-bold,
.test-card-right .font-bold {
  font-size: 25px;
  font-weight: 800;
}

.test-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.test-card-right__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #f5f5f5;
}
.test-card-right p.margin {
  margin: 0 25px 0 10px;
  width: 300px;
}
.test-card-right .text-gray {
  color: #8696bb;
  font-size: 17px;
  font-weight: 400;
  white-space: pre-wrap;
}

.test-card-button {
  display: flex;
  width: 433px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 3px solid #4894fe;
  background: #fff;
  font-size: 24px;
  font-weight: 800;
  color: #4894fe;
  transition: all 0.2s ease-out;
}
.test-card-button:hover {
  border: 3px solid transparent;
  background: rgba(99, 180, 255, 0.1);
}
.test-card-button:active {
  border: 3px solid transparent;
  background-color: #40a0ff;
  color: #fff;
}

/* Test01Level.tsx */
.main-contents.home.test .main-select-wrapper.visible {
  background-color: #fbfbfb;
}
.main-contents.home.test .main-select-wrapper.visible .font-bold {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable";
  font-size: 27px;
  font-weight: 400;
  border: none;
}

.main-contents.home.test .main-contents__column > p.mb,
.main-contents.home.test .main-contents__column > p.pb {
  margin: 0 0 20px 0;
  padding: 0 0 14px 0;
}

.status-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.status-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 600px;
  margin: 0 0 10px 0;
  padding: 7px 14px;
  background-color: #fff;
}
.status-card__number {
  font-size: 14px;
  font-weight: 400;
  color: #8696bb;
  width: 5%;
  text-align: center;
}
.status-card__progress-bar {
  width: 210px;
  background-color: rgba(120, 120, 128, 0.16); /* 진행바의 배경색 */
  height: 4px;
  border-radius: 10px;
  overflow: hidden;
}
.status-card__progress-fill {
  background-color: #40a0ff;
  height: 100%;
  border-radius: 10px 0 0 10px;
  transition: width 0.5s ease;
}
.status-card__percentage {
  font-size: 17px;
  font-weight: 400;
  color: #8696bb;
}
.status-card__complete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #40a0ff;
  border-radius: 100%;
}

.pagination-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
}
.pagination-wrapper ul {
  list-style: none;
  padding: 0;
}
.pagination-wrapper .page-item {
  display: inline-block;
  margin-right: 5px;
}
.pagination-wrapper .page-item button {
  width: 30px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #8696bb;
  font-family: "Pretendard Variable";
}
.pagination-wrapper .page-item.active button {
  color: #4894fe;
  font-weight: 900;
}

/* Test01Screen.tsx */
.text-container {
  position: relative;
  width: 100%;
  text-align: center;
}
.text-container .font-light.diffculty {
  color: #8696bb;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 400;
}
.test-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 560px;
}
.test-contents__buttons {
  display: flex;
  flex-direction: column;
}
.test-contents__buttons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 83px;
  background-color: #fff;
  border: 3px solid #4894fe;
  border-radius: 41.5px;
  color: #4894fe;
  font-size: 29px;
  font-weight: 700;
  margin: 0 0 35px 0;
  padding: 0 60px;
  transition: all 0.2s ease;
}

.test-contents__context {
  position: relative;
  width: 100%;
  max-width: 972px;
  margin: 30px 0 0 0;
  word-break: keep-all;
}
.context__arrows {
  width: 100%;
}
.left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.context {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.test-contents__answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px 0 0 0;
}

.finish-button {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -120px;
  color: #8696bb;
}
.finish-button button {
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 600;
}

.mobile-test-controller-container {
  display: none;
}

/* Test02Menu.tsx */
.test-category-container {
  display: flex;
  margin: 200px 0 0 0;
}
.category-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.category-items figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  background: rgba(99, 180, 255, 0.1);
}
.category-items-text {
  margin: 8px 0 0 0;
  color: #4894fe;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.link-sm {
  display: none;
}

/* Test02Level.tsx */
.test-category-lnb {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px;
  margin: 0 0 4px 0;
}
.test-category-lnb a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.test-category-lnb a p {
  font-size: 15px;
  font-weight: 600;
  color: #85888a;
}

/* Test02Screen.tsx */
.test-contents__buttons.row {
  flex-direction: row;
  gap: 30px;
}
.test-contents__buttons.row button {
  width: 304px;
  height: 83px;
  padding: 0 50px;
  font-family: "Pretendard Variable";
}
.context.answer {
  width: 100%;
  margin: 60px 0 0 0;
}

/* Test03Menu.tsx */
.test-category-container.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 0;
  margin: 30px 0 0 0;
}
.status-card.margin {
  margin: 0 0 30px 0;
}
.status-card__title {
  color: #8696bb;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-weight: 400;
}

/* Test03Level.tsx */
.test-category-lnb.narrow {
  gap: 25px;
}

/* Test03Screen.tsx */
.test-contents.flex-start {
  justify-content: flex-start;
}
.test-contents__buttons.border {
  border-bottom: 1px solid #8696bb;
}
.test-contents__buttons.row.border button {
  margin: 0 0 20px 0;
}

.test-contents__waves {
  margin: 150px 0 0 0;
}

.context.font-small {
  max-width: 972px;
  color: #001b59;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.test-contents__question-context {
  width: 100%;
  max-width: 972px;
}
.question-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 0 0;
}
.question-list > p {
  color: #001b59;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-weight: 600;
}

.question-answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 10px 0;
}
.answer-input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-radius: 43px;
  border: 1px solid #4894fe;
  background: #fff;
  font-family: "Pretendard Variable";
  font-size: 16px;
}
.question-answer .answer-checkbox {
  width: 100px;
  height: 30px;
}
.question-answer .answer-checkbox p {
  font-size: 18px;
}
.question-answer .answer-checkbox img {
  width: 20px;
}
.question-answer .test-contents__answer {
  margin: 0;
}

/* Test04Menu.tsx */
.test-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 150px;
  margin: 32px 0;
  padding: 10px 16px;
  gap: 6px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 12px 20px 0px rgba(90, 117, 167, 0.04);
}
.card-title {
  width: 100%;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #f5f5f5;
  color: #0d1b34;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 800;
}
.card-detail {
  margin: 10px 0;
  color: #8696bb;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-weight: 400;
}
.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 12px 32px;
  border-radius: 100px;
  background: rgba(99, 180, 255, 0.1);
  color: #4894fe;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 700;
}

/* Test04Screen */
.guide-text {
  margin: 0 0 18px 170px;
  color: #4894fe;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
}

.test-contents__section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
}
.test-contents__buttons.margin-left button {
  margin: 0 20px 0 0;
  padding: 0 30px;
}
.context-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 346px;
  height: 83px;
  padding: 14px 28px;
  border-radius: 41.5px;
  background: #40a0ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  word-break: keep-all;
  text-align: center;
}
.test-contents__answer.sm {
  margin: 0 20px;
}
.button__answer {
  margin: 0 10px;
}

.coach-mark-container {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 1124px;
  min-height: 717px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
.coach-mark-btn__close {
  position: absolute;
  right: 3%;
  font-family: "Pretendard Variable";
  font-size: 26px;
  font-weight: 600;
}

.guide-with-finger {
  position: absolute;
  bottom: 24%;
  display: flex;
  align-items: flex-end;
}
.guide-with-finger p {
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 600;
}

/* Test05Menu.tsx */
.main-contents.home.test .main-select-wrapper.visible.relative {
  justify-content: center;
  position: relative;
  padding: 50px 100px;
}
.pagination-arrows {
  width: 100%;
}
.pagination-arrows button {
  position: absolute;
  top: calc((717px - 56px) / 2);
}
.pagination-arrows button:first-child {
  position: absolute;
  left: 30px;
}
.pagination-arrows button:last-child {
  position: absolute;
  right: 30px;
}

.quiz-link-container-swiper {
  width: 100%;
}
.quiz-link-slide .quiz-link-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 70px 30px;
}
.quiz-link-container a {
  color: #40a0ff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-weight: 800;
  transition: color 0.2s ease;
}
.quiz-link-container a:hover {
  color: #8696bb;
}

/* Test05Screen.tsx */
.guide-with-finger.finger__right {
  left: 42.5%;
  bottom: 19.5%;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.quiz-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* margin: 40px 0 0 0; */
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 0 35px;
  width: 100%;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-weight: 800;
}
.navigation a {
  width: 55px;
}

.speech-bubble-container {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 10;
  cursor: pointer;
}
.blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-color: #999999;
  background-blend-mode: color-dodge, normal;
  filter: blur(65px);
  padding: 12px 12.8px;
}
.speech-bubble-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 13px;
  color: #4894fe;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 20px;
  font-weight: 800;
  z-index: 999;
}
.speech-bubble-text:after {
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 80px;
  left: 30px;
}

/* CrosswordGrid.tsx */
.crossword-wrapper {
  display: flex;
  margin: 85px 0 0 0;
}
.crossword-grid {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 24px;
  border-collapse: collapse;
}

.crossword-grid tr td {
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-family: "SCoreDream";
  font-size: 22px;
}

.crossword-grid tr td {
  border: 3px solid #007aff;
}
.crossword-grid tr:first-child td {
  border-top: none;
}
.crossword-grid tr td:first-child {
  border-left: none;
}
.crossword-grid tr td:last-child {
  border-right: none;
}
.crossword-grid tr:last-child td {
  border-bottom: none;
}

.hint-container {
  position: relative;
}
.hint-container p {
  position: absolute;
  top: 10px;
  font-family: "Pretendard Variable";
  font-weight: 800;
  font-size: 18px;
}
.hint-container p.horizontal-hint {
  color: #40a0ff;
  left: 10px;
}
.hint-container p.vertical-hint {
  color: #feb052;
  right: 10px;
}
.crossword-answer-input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1.5px solid transparent;
  font-family: "Pretendard Variable";
  font-weight: 800;
  font-size: 50px;
  color: #65849e;
  text-align: center;
}
.crossword-answer-input input:disabled {
  background-color: #d9d9d9;
}

/* HintGrid.tsx */
.hint-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hint__slider-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.hint-slider-container {
  position: relative;
  width: 50%;
}
.slider-marks {
  position: absolute;
  width: 100%;
  top: -10%;
  transform: translateY(-50%);
}
.slider-mark {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.slider-thumb-label {
  position: absolute;
  top: 8%;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 800;
  pointer-events: none;
}
.hint-slider {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #8696bb;
  border-radius: 20px;
  outline: none;
}
.hint-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 77px;
  height: 45px;
  background: #8696bb;
  border-radius: 25px;
  cursor: pointer;
}

.hint-answer {
  display: flex;
  width: 50%;
  margin: 0 0 0 20px;
}
.hint-answer .answer-checkbox {
  width: 100px;
  height: 30px;
}
.hint-answer .answer-checkbox img {
  width: 20px;
}
.hint-answer .answer-checkbox p {
  font-size: 18px;
}

.hint__view-listen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}
.hint__view-listen button {
  margin: 0 30px;
  color: #8696bb;
  text-align: center;
  font-family: "Pretendard Varialble";
  font-size: 18px;
  font-weight: 800;
}

/* License.tsx */
.main-wrapper.license {
  padding: 120px 0 0 0;
  font-family: "Pretendard Variable";
  font-weight: 400;
}

.license-key-input-text {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin: 0 0 31px 0;
}
.license-key-input {
  width: 710px;
  height: 102px;
  padding: 26px 64px;
  margin: 0 30px 0 0;
  border: none;
  border-radius: 34px;
  background: #fff;
  font-family: "Pretendard Variable";
  font-size: 32px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.license-button__check {
  width: 162px;
  height: 50px;
  border-radius: 25px;
  background-color: #40a0ff;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.license-check__pass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.license-check__pass img {
  float: left;
  margin: -100px 50px 0 0;
}
.license-check__pass a {
  margin: 0 0 0 100px;
  font-size: 30px;
}
.license-check-modal {
  float: left;
  width: 270px;
  height: 130px;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}
.license-check-modal p:first-child {
  font-size: 17px;
}
.license-check-modal p:last-child {
  margin: 30px 0 0 0;
  font-size: 24px;
}
.main-logo-bottom {
  position: absolute;
  bottom: 40px;
}
.main-logo-bottom img {
  width: 70%;
}

/* Settings.tsx */
.main-wrapper.settings {
  padding: 75px 0 0 0;
}

.settings-logo {
  width: 171px;
  margin: 0 0 50px 0;
}

.main-select-wrapper.settings {
  width: 778px;
  height: 100%;
}

.main-select-wrapper.settings .select-type {
  display: flex;
  margin: 70px 0;
}

.main-select-wrapper.settings .select-type,
.speech-speed-slider,
.speech-rate-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.select-type > p,
.speech-speed-slider > p {
  display: block;
  width: 160px;
  margin: 0;
}

.main-select-wrapper.settings .select-type__button label {
  display: inline-block;
  width: 120px;
  height: 37px;
  margin: 0 11px;
  border: 2px solid #4894fe;
  border-radius: 100px;
  color: #85888a;
  line-height: 33px;
  font-family: "Pretendard Variable";
  font-weight: 900;
  font-size: 22px;
  cursor: pointer;
}
.main-select-wrapper.settings .select-type__button input[type="radio"]:checked + label {
  border: 2px solid transparent;
  color: #fff;
  background: #4894fe;
  box-sizing: border-box;
}

.select-type__button input[type="radio"] {
  display: none;
}

.speech-speed-slider__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.speech-rate-labels {
  margin: 10px 0 0 0;
}

/* ToggleSwitch.tsx */
.toggle-switch-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-switch {
  position: relative;
  width: 51px;
  height: 31px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15),
    0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.toggle-text {
  margin-top: 11px;
  color: #8696bb;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.4s;
}

.text-on {
  color: #4894fe;
}

/* AnswerButton.tsx */
.answer-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 126px;
  height: 60px;
  margin: 0 15px;
  padding: 12px;
  border-radius: 30px;
  border: 2px solid #4894fe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.answer-checkbox p {
  margin: 0 0 0 10px;
  color: #40a0ff;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
}

.answer-checkbox input {
  display: none;
}

.answer-checkbox:hover {
  background: rgba(99, 180, 255, 0.1);
}

/* 반응형 */
/* Desktop */
@media screen and (max-width: 1280px) {
  .main-select-wrapper {
    width: 730px;
    /* min-width: 730px;
    max-width: 730px; */
    height: 660px;
    /* min-height: 660px;
    max-height: 660px; */
  }
  .main-contents.home .main-logo-bottom {
    bottom: 25px;
    left: 85px;
  }

  .snb {
    margin: 60px 40px 0 0;
  }

  /* MyPage */
  .main-contents.info {
    padding: 40px 0 0 0;
  }
  .select-button-wrapper {
    margin: 30px 0 0 0;
  }

  /* Settings */
  .main-wrapper.settings {
    padding: 20px 0 0 0;
  }
  .main-select-wrapper.settings {
    justify-content: flex-start;
    height: 100%;
  }
  .main-select-wrapper.settings .select-type {
    margin: 30px 0;
  }

  /* Test01 */
  .test-card-wrapper {
    width: 100%;
    margin: 0 0 14px 0;
    padding: 20px 30px;
  }
  .test-card-right .text-gray {
    font-size: 15px;
  }
  .test-card-right p.margin {
    width: 250px;
    margin: 0 10px;
  }
  .test-card-button {
    padding: 5px 30px;
  }

  .main-select-wrapper p.font-light {
    margin: 0 0 30px 0;
    font-size: 21px;
  }
  .status-card {
    margin: 0 0 12px 0;
  }
  /* .status-card:last-child {
    margin: 0;
  } */
  .status-card__complete {
    width: 25px;
    height: 25px;
  }
  /* .pagination-wrapper {
    margin: 40px 0 0 0;
  } */

  .main-contents.home.test .main-select-wrapper.visible .font-bold {
    font-size: 24px;
  }
  .text-container .font-light.diffculty {
    font-size: 18px;
    margin: 10px 0;
  }
  .test-contents__buttons button {
    width: 290px;
    height: 75px;
    font-size: 25px;
  }
  .test-contents__buttons button:first-child img {
    width: 30px;
    margin: 0 10px 0 0;
  }
  .context {
    width: 80%;
    height: 30px;
    font-size: 24px;
    margin: 0 auto;
  }

  /* Test02 */
  .test-category-container {
    width: 100%;
  }
  .category-items {
    margin: 0 20px;
  }
  .category-items figure {
    width: 120px;
    height: 120px;
  }
  .category-items-text {
    font-size: 22px;
  }

  .test-category-lnb {
    margin: 0 0 20px 0;
  }
  .test-category-lnb.lnb__wide {
    gap: 20px;
  }

  .test-contents__buttons.row {
    margin: 20px 0 0 0;
  }
  .test-contents__buttons.row button {
    width: 180px;
    height: 75px;
    padding: 0 20px;
    font-size: 20px;
    justify-content: center;
  }
  .test-contents__buttons.row button img {
    margin: 0 0 0 12px;
  }

  /* Test03 */
  .test-category-container.grid {
    gap: 48px 0;
  }

  .test-category-lnb.narrow {
    gap: 10px 5px;
  }
  .test-category-lnb a {
    flex: 0 0 15%;
  }

  .status-card.margin {
    margin: 0 0 30px 0;
  }
  .status-card.margin:last-child {
    margin: 0;
  }

  .question-list > p {
    font-size: 18px;
  }
  .question-answer {
    height: 25px;
  }
  .answer-input {
    width: 100%;
  }

  /* Test04 */
  .coach-mark-container {
    width: 730px;
    min-width: 730px;
    max-width: 730px;
    height: 660px;
    min-height: 660px;
    max-height: 660px;
  }
  .guide-with-finger {
    left: 12%;
    bottom: 26%;
  }

  .guide-text {
    margin: 0 0 10px 125px;
  }

  .test-contents__section {
    margin: 0 0 10px 0;
  }
  .test-contents__buttons.btn__sm button {
    width: 250px;
    font-size: 20px;
  }
  .context-container {
    width: 250px;
    font-size: 16px;
  }
  .test-contents__answer.sm {
    margin: 0 10px;
  }

  /* Test05 */
  .main-contents.home.test .main-select-wrapper.visible.relative {
    align-items: center;
    padding: 50px 80px;
  }
  .quiz-link-container {
    gap: 50px 10px;
  }
  .quiz-link-container a {
    font-size: 22px;
  }

  .guide-with-finger.finger__right {
    left: 38.5%;
    bottom: 13.5%;
  }

  .crossword-wrapper {
    margin: 75px 0 0 0;
  }

  .navigation {
    gap: 0 5px;
    font-size: 20px;
  }

  .slider-marks {
    top: 10%;
  }
  .hint-slider {
    height: 5px;
  }
  .hint-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 40px;
    background: #8696bb;
    border-radius: 25px;
    cursor: pointer;
  }
  .slider-thumb-label {
    font-size: 16px;
    top: 25%;
  }
  .hint__view-listen {
    margin: 30px 0 0 0;
  }
  .hint__view-listen button {
    font-size: 16px;
  }

  .speech-bubble-container {
    left: 3%;
  }
}

/* Mobile */
@media screen and (max-width: 575px) {
  /* Login */
  .login_page.transition_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .img_circle_logo {
    top: -35px;
  }
  .circle_logo {
    display: none;
  }
  .circle_logo_center {
    display: block;
    width: 100%;
  }

  .form_area {
    position: absolute;
    margin: 0 auto;
    bottom: 120px;
  }
  #loginForm {
    width: 100%;
  }
  .form_style {
    width: 240px;
    font-size: 18px;
    font-family: "Pretendard Variable";
  }
  .btn_login_bottom {
    margin: 20px 0;
  }
  .btn_login {
    width: 195px;
    height: 50px;
    padding: 10px;
    font-size: 21px;
  }
  .account_link > div {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .text_div_bottom {
    bottom: 10px;
    font-size: 10px;
    font-family: "Pretendard Variable";
  }

  /* License */
  .main-wrapper.license {
    width: 100%;
    height: 100vh;
    padding: 35px;
    background-color: #f3f3f3;
    overflow-y: scroll;
  }
  .main-wrapper.license .main-contents {
    height: auto;
  }

  .main-contents__top,
  .main-contents__bottom {
    height: 100%;
  }
  .main-contents__bottom {
    justify-content: space-between;
  }

  .main-wrapper.license .main-logo {
    display: none;
  }
  .main-description {
    margin: 0;
    white-space: normal;
    font-size: 18px;
  }
  .license-text {
    display: none;
  }
  .license-text.mobile {
    display: block;
  }

  .license-key-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 316px;
  }
  .license-key-input {
    width: 100%;
    margin: 0 0 31px 0;
    padding: 20px;
    font-size: 26px;
  }

  .license-check__pass {
    flex-direction: column;
  }
  .license-check__pass img {
    float: none;
    margin: 0;
  }
  .license-check-modal {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }
  .license-check__pass a {
    margin: 0;
  }

  .main-wrapper.license .main-logo-bottom {
    position: static;
    margin: 50px 0 0 0;
  }
  .main-wrapper.license .main-logo-bottom img {
    width: 100%;
  }

  /* MyPage */
  .header-wrapper.my-page {
    display: block;
  }
  .main-contents.info,
  .main-contents.settings {
    height: auto;
    padding: 30px;
    overflow-y: scroll;
  }
  .main-wrapper.my-page,
  .main-wrapper.settings {
    padding: 0;
    background-color: #f2f2f7;
  }
  .main-select-wrapper.info {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent;
  }
  .main-select-wrapper.info .link__mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 0 33px 0;
    font-size: 20px;
    font-weight: 600;
  }
  .main-select-wrapper.info .link__mobile img {
    margin: 0 20px 0 0;
  }
  .main-select-wrapper.info > p {
    display: none;
  }

  .info-text {
    width: 50%;
  }
  .info-input {
    width: 100%;
  }
  .info-input,
  .user-info .info-input.underline,
  .change-password {
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
  }
  .change-password {
    width: 100%;
  }
  .change-password__flex > p {
    width: 100%;
    margin: 0 10px 0 0;
    font-size: 10px;
  }
  .change-password__flex input.info-input.underline {
    border-bottom: 1px solid #8696bb;
    border-radius: 0;
  }
  .info-input.underline {
    border: none;
  }

  .bottom-nav-bar-container.my-page {
    display: flex;
  }

  .main-wrapper .info .main-logo-bottom,
  .main-wrapper .settings .main-logo-bottom {
    display: none;
  }

  /* Header */
  .header-wrapper {
    width: 100%;
    height: 95px;
    padding: 20px;
    border-bottom: 0.333px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  .header {
    max-width: 100%;
    padding: 0;
  }

  .nav a:not(:first-child),
  .nav a p {
    display: none;
  }
  .nav a:first-child {
    margin: 0;
    padding: 0;
  }

  /* BottomAppBar */
  .bottom-nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    padding: 10px 42px 36px 42px;
    border-top: 0.333px solid rgba(0, 0, 0, 0.3);
  }
  .bottom-nav-bar-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px 0;
  }
  .bottom-nav-bar-text {
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-weight: 500;
    color: #8696bb;
  }

  /* Home */
  .snb {
    display: none;
  }

  .main-wrapper {
    padding: 0;
    height: calc(100vh - 95px - 95px);
    overflow-x: hidden;
  }
  .main-wrapper,
  .main-contents.home .main-select-wrapper {
    background-color: #fff;
  }
  .main-contents.home {
    height: auto;
    padding: 30px;
  }
  .main-contents.home .main-select-wrapper {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .main-contents.home.test .main-select-wrapper {
    padding: 0;
  }

  .main-contents__column {
    width: 100%;
    height: 100%;
  }

  .main-contents__column > p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
  }
  .main-contents.home .main-select-wrapper .font-light {
    color: #8696bb;
    font-size: 14px;
  }

  .main-contents.home .main-logo-bottom {
    display: none;
  }

  /* Settings */
  .header-wrapper.settings {
    display: block;
  }

  .settings-logo {
    display: none;
  }
  .main-select-wrapper.settings {
    width: 100%;
    height: auto;
    padding: 25px;
  }

  /* .main-select-wrapper.settings .select-type, */
  .speech-speed-slider {
    flex-direction: column;
    margin: 20px 0;
  }
  .main-select-wrapper.settings .select-type {
    flex-wrap: wrap;
    gap: 15px 10px;
    width: 100%;
  }
  .main-select-wrapper.settings .select-type > p,
  .speech-speed-slider > p {
    width: 100%;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-weight: 600;
  }
  .main-select-wrapper.settings .select-type__button {
    height: 35px;
    flex: 1 1 30%;
    margin: 0;
  }
  .main-select-wrapper.settings .select-type__button label {
    display: block;
    margin: 0;
    color: #85888a;
    font-family: "Pretendard Variable";
    text-align: center;
    font-size: 19px;
    font-weight: 700;
  }
  .main-select-wrapper.settings .select-type__button:first-of-type {
    flex: 1 1 100%;
  }
  .main-select-wrapper.settings .select-type__button:first-of-type label,
  .main-select-wrapper.settings .select-type__button:not(:first-of-type) label {
    width: 100%;
  }

  .bottom-nav-bar-container.settings {
    display: flex;
  }

  /* SwipeableHeaderTabs */
  .swiper.swipe-header-tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .header-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;

    color: #d9d9d9;
    background: #f3f3f3;
  }

  /* Test01Menu */
  .main-contents.home.test .main-contents__column > p {
    display: none;
  }

  .main-wrapper.bg-gray,
  .main-contents.home.test {
    background-color: #fbfbfb;
  }

  .test-card-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 10px 16px;
  }
  .test-card-left {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #f5f5f5;
  }
  .main-contents.home.test .main-select-wrapper .font-light {
    margin: 0 10px 0 0;
    font-weight: 800;
    font-size: 25px;
    color: #40a0ff;
  }
  .test-card-right {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .test-card-right__row {
    margin: 0;
    border: none;
  }
  .test-card-right p.margin {
    width: 60%;
    font-size: 15px;
    font-weight: 700;
  }
  .test-card-right .text-gray {
    width: 40%;
    font-size: 12px;
    font-weight: 400;
  }
  .test-card-button {
    width: 100%;
    height: auto;
    font-size: 14px;
  }

  /* Test01Level */
  .main-contents.home.test {
    height: 100%;
  }
  .main-contents.home.test .main-select-wrapper.visible.main-select-wrapper.sm {
    height: calc(100% - 70px);
    justify-content: space-between;
  }

  .main-contents.home.test .main-select-wrapper .font-light {
    display: none;
  }

  .status-card {
    width: 100%;
    gap: 20px;
  }
  .status-card__number {
    width: 10%;
  }
  .status-card__progress-bar {
    width: 45%;
  }
  .status-card__percentage {
    font-size: 14px;
  }
  .status-card__complete {
    width: 17px;
    height: 17px;
  }
  .status-card__complete > img {
    width: 60%;
  }

  .pagination-wrapper {
    width: 100%;
  }
  .pagination-wrapper .page-item {
    margin: 0;
  }

  /* Test01Screen */
  .main-select-wrapper.visible > .text-container,
  .main-select-wrapper.visible > .test-contents,
  .main-select-wrapper.visible > .pagination-wrapper.hidden {
    display: none;
  }

  /* MobileTestController */
  .mobile-test-controller-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }
  .mobile-test-controller-container > img {
    margin: 24px 0 12px 0;
  }

  .mobile__font-bold {
    font-size: 18px;
    font-weight: 400;
    color: #8696bb;
  }
  .controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 12px 20px 0px #5a75a70a;
  }
  .controller__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #f5f5f5;
  }
  .controller__title-bold {
    font-size: 25px;
    font-weight: 800;
    color: #0d1b34;
  }
  .controller__diffculty {
    font-size: 14px;
    font-weight: 400;
    color: #8696bb;
  }
  .controller__audio-control {
    width: 100%;
    transition: all 0.2s ease;
  }

  .controller__features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 0 0;
  }
  .controller__sentence-view-btn,
  .controller__question-view-btn {
    display: flex;
    align-items: center;
  }
  .controller__sentence-view-btn p,
  .controller__question-view-btn p {
    margin: 0 0 0 10px;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-weight: 700;
    text-wrap: nowrap;
  }
  .controller__question-view-btn p {
    font-size: 15px;
    font-weight: 400;
  }
  .controller__no-noise {
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-weight: 700;
    text-wrap: nowrap;
    color: #4894fe;
  }

  .controller__sentence-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 24px 0 0 0;
  }
  .controller__sentence {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    word-break: keep-all;
    text-align: center;
  }

  .test-contents__answer.mobile {
    margin: 24px 0 0 0;
  }

  .mobile-test-controller-container .context__arrows {
    position: absolute;
    top: 46%;
  }

  .test-contents__answer.mobile p.hidden {
    display: none;
  }

  .question-navigation-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .question-navigation-container img {
    width: 5%;
  }
  .question-navigation-container p {
    margin: 0 12px;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: 600;
  }

  .controller__sentence p.answer {
    margin: 50px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #40a0ff;
  }

  /* Test02Menu */
  .main-contents.home.test .main-select-wrapper.visible .font-bold {
    display: none;
  }

  .test-category-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin: 50px 0 0 0;
  }
  .category-items {
    display: none;
  }
  .link-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 30px 80px;
    border-radius: 32px;
    background: rgba(99, 180, 255, 0.1);
    color: #4894fe;
    text-align: center;
    text-wrap: nowrap;
    font-size: 25px;
    font-weight: 800;
  }

  /* Test02Level */
  .test-category-lnb.lnb__wide {
    display: none;
  }

  /* Test03Menu */
  .main-contents.home.test.h-auto {
    height: auto;
  }

  .test-category-container.grid {
    justify-items: center;
    gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* Test03Level */
  .test-category-lnb.narrow {
    display: none;
  }

  /* Test04Menu */
  .test-card-container {
    width: 100%;
    text-wrap: nowrap;
  }
  .card-link {
    font-size: 14px;
    font-weight: 500;
  }

  /* Test04Level */
  .test-category-lnb {
    display: none;
  }

  /* Test05Menu */
  .main-contents.home.test.h-auto {
    height: auto;
  }
  .main-contents.home.test .main-select-wrapper.visible.relative {
    padding: 30px 0 0 0;
  }
  .pagination-arrows {
    display: none;
  }

  .quiz-link-slide .quiz-link-container {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  /* Test05Screen.tsx */
  .coach-mark-container {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .main-contents.home.test {
    height: auto;
  }
}
