:root {
  --black: #191919;
  --white: #e2e2e2;
  --blue: #98c6f5;
}

.contents-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1280px;
  height: 800px;
  padding: 50px;
  color: var(--black);
  border: 1px solid var(--white);
  overflow-y: hidden;
}

/* 로그인 페이지 수정 */
.login_root {
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: 0;
  overflow: hidden;
}

.login_page {
  position: absolute;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.circle_logo {
  display: block;
}

.circle_logo_center {
  display: none;
}

.transition_1 {
  background-color: #40a0ff;
  flex-direction: column;
  z-index: 2;
}

.transition_3 {
  background: linear-gradient(180deg, #40a0ff 61.79%, #5ec9ff 100%);
  justify-content: flex-end;
}

.transition_1 > img {
  cursor: pointer;
}

.text_div_bottom {
  position: absolute;
  bottom: 64px;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.circle_ear_title {
  width: 80%;
  display: flex;
  padding-left: 52px;
  height: 100%;
  flex-direction: column;
  font-size: 2.2em;
  margin-top: 296px;
  line-height: 1.4em;
}

.img_circle_logo,
.img_circle_ear {
  z-index: -1;
  position: absolute;
  top: 0;
}

.img_circle_ear {
  right: 0;
}

.btn_div_bottom {
  width: 80%;
  text-align: center;
  margin-bottom: 48px;
}

.img_circle_logo {
  left: 0;
}

.text_edition,
.text_volume_cert {
  text-align: center;
  color: #ffffff;
}

.text_edition > span {
  font-size: 1em;
  line-height: 2.4em;
}

.text_volume_cert > span {
  font-size: 1.2em;
}
.btn_next_page {
  background: #40a0ff;
  border-radius: 35px;
  box-shadow: #40a0ff 0 5px 10px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 16px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
}

.form_area {
  margin-right: 162px;
}

.form_group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form_style {
  padding: 8px 0 0 44px;
  height: 48px;
  width: 366px;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 22px;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  margin-bottom: 10px;
}
.form_style:focus,
.form_style:active {
  border: none;
  outline: none;
  border-bottom: 2px solid #ffffff;
}
.input_icon {
  position: absolute;
  top: 19px;
  left: 6px;
  height: 24px;
  width: 24px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-size: 24px;
}

.icon_account {
  background: url("/public/images/icons/icon_email_gray.png") no-repeat left;
}

.icon_password {
  background: url("/public/images/icons/icon_lock_gray.png") no-repeat left;
}

.form_group input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form_group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form_group input:-webkit-autofill,
.form_group input:-webkit-autofill:hover,
.form_group input:-webkit-autofill:focus,
.form_group input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

.account_link {
  text-align: center;
}

.account_link > div {
  padding-bottom: 36px;
}
.account_link > div > span > a {
  border-bottom: 1px solid #ffffff;
  font-size: 1em;
  color: #ffffff;
  padding-bottom: 4px;
}

.btn_login_bottom {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 64px;
}

.btn_login {
  display: inline-block;
  background: #ffffff;
  border-radius: 38px;
  box-sizing: border-box;
  color: #545454;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 16px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 222px;
  font-size: 1.6em;
  font-weight: 600;
}

.auth_error {
  text-align: center;
  margin-top: 15px;
}

.auth_error > span {
  font-size: 1.2em;
  font-weight: 600;
  color: #ff9f40;
}

/* Header.tsx */
.header-wrapper {
  width: 100%;
  height: 75px;
  background-color: #f3f3f3;
  font-weight: 500;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.header-logo img {
  width: 100%;
}

.nav {
  display: flex;
  font-weight: 600;
  color: #4894fe;
}
.nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 25px;
  transition: all 0.2s ease-out;
}
.nav > a > img {
  margin: 0 5px 0 0;
}

/* UserModal */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 999;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  transform: translate(-50%, -60%);
  background-color: rgb(218 227 237);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 0px 7px #cccccc5e;
}
.modal-name {
  font-weight: 800;
  font-size: 25px;
  margin: 30px 0;
}
.modal-btn {
  width: 80%;
  height: 50px;
  border-radius: 50px;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 800;
}

/* Home.tsx */
.main-wrapper {
  background-color: #f3f3f3;
  width: 100%;
  height: 100vw;
  padding: 20px 0 0 0;
}

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.main-contents.home {
  flex-direction: row;
}
.main-contents.home > p {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.main-contents.info {
  flex-direction: row;
  align-items: flex-start;
}

.main-select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 1124px;
  height: 100%;
  min-height: 717px;
  padding: 50px;
  background-color: #fff;
  border-radius: 40px;
}
.main-contents.home .main-select-wrapper {
  background-color: #fbfbfb;
  justify-content: flex-start;
}
.main-select-wrapper > p,
.main-contents__column > p {
  width: 100%;
  margin: 0;
  padding: 0 0 14px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.main-contents__column > p {
  color: #000;
  margin: 0 0 20px 0;
  border: none;
  font-weight: 700;
}
.main-select-wrapper p.font-light {
  margin: 0 0 30px 0;
  padding: 0;
  color: #0d1b34;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  border: none;
}

.select-type {
  display: flex;
  flex-direction: column;
}
.select-type__button {
  width: 295px;
  height: 66px;
  margin: 10px 0;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  line-height: 62px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  transition: all 0.15s ease;
}

.main-contents__top {
  display: flex;
}
.main-description {
  margin: 0 0 0 100px;
  font-size: 22px;
  font-weight: 400;
  line-height: 180%;
  word-break: keep-all;
}

.select-button-wrapper {
  display: flex;
  margin: 50px 0 0 0;
}
.select-button-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  margin: 0px 15px;
  border-radius: 100%;
  background-color: #40a0ff;
}

.main-contents__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
}

.main-contents.home .main-logo-bottom {
  left: 250px;
}

/* MyPage.tsx */
.main-contents.info {
  padding: 75px 0 0 0;
}
.main-select-wrapper.info > p {
  margin: 0 0 33px 0;
}
.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 18px 0;
}

.user-info.baseline {
  align-items: baseline;
}
.info-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 14px 0 0;
  background-color: #40a0ff;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.info-text {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
}
.info-input {
  background: none;
  border: none;
  /* outline: none; */
  width: 200px;
  height: 46px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
}
.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.change-password__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-password__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-password__flex > p {
  width: 100px;
  margin: 0 25px 0 0;
}
.info-input.underline {
  background: none;
  border: none;
  border-bottom: 1px solid #8696bb;
}

/* Snb.tsx */
.snb {
  width: 161px;
  margin: 60px 60px 0 0;
  transition: all 0.2s ease-out;
}

.select-type__snb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
}
.snb-select-type__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 55px;
  padding: 12px 20px;
  background-color: #40a0ff;
  border-radius: 100px;
  font-weight: 900;
}

/* Test01Menu.tsx */
.main-contents.home.test {
  align-items: flex-start;
}
.main-contents.home.test .main-contents__column > p {
  margin: 0;
  padding: 0;
}
.main-contents.home.test .main-select-wrapper {
  background-color: transparent;
  padding: 30px;
}

.test-card-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 766px;
  padding: 25px 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 12px 20px 0px rgba(90, 117, 167, 0.04);
  color: #40a0ff;
  margin: 0 0 20px 0;
}
.test-card-wrapper:last-child {
  margin: 0;
}
.test-card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 15%;
}
.test-card-wrapper .test-card-left .font-light {
  margin: 0;
  color: #40a0ff;
  font-size: 15px;
  font-weight: 600;
}
.test-card-left .font-bold,
.test-card-right .font-bold {
  font-size: 25px;
  font-weight: 800;
}

.test-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.test-card-right__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #f5f5f5;
}
.test-card-right p.margin {
  margin: 0 25px 0 10px;
  width: 300px;
}
.test-card-right .text-gray {
  color: #8696bb;
  font-size: 17px;
  font-weight: 400;
  white-space: pre-wrap;
}

.test-card-button {
  display: flex;
  width: 433px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 3px solid #4894fe;
  background: #fff;
  font-size: 24px;
  font-weight: 800;
  color: #4894fe;
  transition: all 0.2s ease-out;
}
.test-card-button:hover {
  border: 3px solid transparent;
  background: rgba(99, 180, 255, 0.1);
}
.test-card-button:active {
  border: 3px solid transparent;
  background-color: #40a0ff;
  color: #fff;
}

/* Test01Level.tsx */
.main-contents.home.test .main-select-wrapper.visible {
  background-color: #fbfbfb;
}
.main-contents.home.test .main-select-wrapper.visible .font-bold {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable";
  font-size: 27px;
  font-weight: 400;
  border: none;
}

.main-contents.home.test .main-contents__column > p.mb,
.main-contents.home.test .main-contents__column > p.pb {
  margin: 0 0 20px 0;
  padding: 0 0 14px 0;
}

.status-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 600px;
  margin: 0 0 10px 0;
  padding: 7px 14px;
  background-color: #fff;
}
.status-card__number {
  font-size: 14px;
  font-weight: 400;
  color: #8696bb;
  width: 5%;
  text-align: center;
}
.status-card__progress-bar {
  width: 210px;
  background-color: rgba(120, 120, 128, 0.16); /* 진행바의 배경색 */
  height: 4px;
  border-radius: 10px;
  overflow: hidden;
}
.status-card__progress-fill {
  background-color: #40a0ff;
  height: 100%;
  border-radius: 10px 0 0 10px;
  transition: width 0.5s ease;
}
.status-card__percentage {
  font-size: 17px;
  font-weight: 400;
  color: #8696bb;
}
.status-card__complete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #40a0ff;
  border-radius: 100%;
}

.pagination-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
}
.pagination-wrapper ul {
  list-style: none;
  padding: 0;
}
.pagination-wrapper .page-item {
  display: inline-block;
  margin-right: 5px;
}
.pagination-wrapper .page-item button {
  width: 30px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #8696bb;
  font-family: "Pretendard Variable";
}
.pagination-wrapper .page-item.active button {
  color: #4894fe;
  font-weight: 900;
}

/* Test01Screen.tsx */
.text-container {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}
.test-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 560px;
}
.test-contents__buttons {
  display: flex;
  flex-direction: column;
}
.test-contents__buttons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 83px;
  background-color: #fff;
  border: 3px solid #4894fe;
  border-radius: 41.5px;
  color: #4894fe;
  font-size: 29px;
  font-weight: 700;
  margin: 0 0 35px 0;
  padding: 0 60px;
  transition: all 0.2s ease;
}

.test-contents__context {
  position: relative;
  width: 100%;
  margin: 30px 0 0 0;
}
.context__arrows {
  width: 100%;
}
.left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.context {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.test-contents__answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px 0 0 0;
}

.finish-button {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -120px;
  color: #8696bb;
}
.finish-button button {
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 600;
}

/* Test02Menu.tsx */
.test-category-container {
  display: flex;
  margin: 200px 0 0 0;
}
.category-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.category-items figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  background: rgba(99, 180, 255, 0.1);
}
.category-items-text {
  margin: 8px 0 0 0;
  color: #4894fe;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/* Test03Menu.tsx */
.functions-wrapper.menus ul.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  row-gap: 20px;
}
.functions-wrapper.menus li.test-card:hover {
  box-shadow: 0px 0px 6px #00000029;
  border: 2px solid #6ebcc8;
  color: #6ebcc8;
}
.functions-wrapper.menus li.test-card {
  width: 250px;
  height: 130px;
  margin: 0;
  color: #8a8a8a;
}
.functions-wrapper.menus li.test-card a {
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 45px;
}
input[type="radio"] + .custom-button.answer-buttons__opacity_1 {
  opacity: 1;
}

/* Test04Menu.tsx */
.functions-wrapper.menus .card-wide {
  width: 373px;
}
.functions-wrapper.menus .card-wide li {
  width: 100%;
}

/* Test04Screen */
.test-screen-wrapper__main {
  position: relative;
  width: 100%;
  min-height: 492px;
  background-color: #fff;
  box-shadow: 0 0 6px #7e8bc129;
  margin: 40px 0 0 0;
  padding: 28px 50px;
}
.test-screen-wrapper__main .answer-buttons {
  top: -150px;
  right: 0px;
}
.answer-buttons__sequencing button {
  opacity: 0.6;
}
.test-screen__select-list {
  display: flex;
  flex-direction: column;
}
.test-screen__select-item,
.test-screen__sequencing-item {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}
.test-screen__select-item button {
  padding: 5px 20px;
  background-color: #63a4db;
  margin-left: 15px;
}
.test-screen__select-item button.playing {
  background-color: rgb(116, 205, 184);
}
.test-screen__select-item button img {
  width: 100%;
  max-width: 45px;
}

/* Test05Menu.tsx */
.main-title.menu.no-margin-bottom {
  margin-bottom: 0;
}
.functions-wrapper.menus.flex-column {
  flex-direction: column;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
.menu-header p {
  font-weight: 800;
  font-size: 22px;
}
.functions-wrapper.menus ul.page-btn-wrapper {
  width: auto;
  flex-direction: row;
  justify-content: flex-end;
}
.functions-wrapper.menus li.page-btn {
  width: 40px;
  height: 40px;
  margin: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.functions-wrapper.menus li.page-btn {
  margin-right: 20px;
  color: inherit;
}
.functions-wrapper.menus li.page-btn:last-child {
  margin-right: 0;
}
.functions-wrapper.menus li.page-btn.active button {
  background-color: #63a4db;
  color: white;
  border-radius: 50%;
}
li.page-btn button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  padding: 0;
}
.functions-wrapper.menus ul.grid.grid-small {
  grid-template-columns: repeat(10, 1fr);
  row-gap: 24px;
}
.functions-wrapper.menus li.test-card-small {
  width: 110px;
  height: 70px;
  margin: 0;
}
.functions-wrapper.menus li.test-card-small a {
  padding: 0;
  justify-content: center;
  align-items: center;
}
.functions-wrapper.menus li.test-card-small:last-child {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

/* Basic.tsx */
.flex-end .menu-header {
  justify-content: flex-end;
  margin-top: 0;
}
.test-list-table {
  text-align: center;
  height: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
.test-list-table th,
.test-list-table td {
  border: 2px solid var(--white);
  vertical-align: middle;
  height: 44px;
}
.test-list-table th:first-child {
  width: 8%;
}
.test-list-table th:nth-child(2) {
  width: 80%;
}
.test-list-table th:last-child {
  width: 12%;
}
.stamp {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 20px;
  background-color: #fff;
  border: 1px solid var(--black);
  border-radius: 50%;
  opacity: 0.3;
}
.stamp.active {
  background-color: #63a4db;
}
.test-start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "SCoreDream";
  font-weight: 500;
  font-size: 16px;
}
.test-start-btn img {
  width: 100%;
  max-width: 28px;
  margin-right: 10px;
}

/* CrosswordQuiz.tsx */
.contents-main.crossword {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.quiz-rule {
  font-family: "SCoreDream";
  font-weight: 400;
  font-size: 24px;
  color: #5f687d;
  opacity: 0.72;
}

/* CrosswordGrid.tsx */
.crossword-grid {
  display: grid;
}
.crossword-wrapper {
  display: flex;
  border-collapse: collapse;
}
.crossword-grid {
  width: 100%;
  height: 466px;
  margin-right: 24px;
  box-shadow: 0px 0px 6px #7e8bc129;
}
.crossword-answer-input {
  text-align: center;
  border: 3px solid #d9e4ee;
  vertical-align: middle;
  font-weight: 800;
  font-family: "SCoreDream";
  font-size: 22px;
}
.hint-container {
  position: relative;
}
.hint-container p {
  position: absolute;
  top: 10px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 800;
  font-size: 30px;
}
.hint-container p.horizontal-hint {
  color: #63a4db;
  left: 10px;
}
.hint-container p.vertical-hint {
  color: #74ccbb;
  right: 10px;
}
.crossword-answer-input input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1.5px solid #d9e4ee;
  font-family: "SCoreDream";
  font-weight: 800;
  font-size: 50px;
  color: #65849e;
  text-align: center;
}
.crossword-answer-input input:disabled {
  background-color: #63a4db;
}

.hint-grid {
  width: 100%;
  height: 100%;
  text-align: center;
}
.hint-grid th {
  height: 50px;
}
.hint-grid th,
.hint-grid td {
  width: 100px;
  vertical-align: middle;
  border: 3px solid #d9e4ee;
}
.hint-grid .blue {
  font-family: "Montserrat", "SCoreDream";
  background-color: #f1f8fe;
  color: #5f687d;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  white-space: pre;
}
.scoring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.scoring li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
}
.scoring li:hover,
.scoring li.active {
  opacity: 1;
}
.scoring li.check-correct {
  background-color: #f59cb3;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.scoring li.check-wrong {
  background-color: #6ebcc8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.scoring li label {
  cursor: pointer;
  padding: 8px 15px;
}

/* TestScreen.tsx */
/* .test-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.answer-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -100px;
  width: 100%;
}
input[type="checkbox"] + .custom-button,
input[type="radio"] + .custom-button {
  opacity: 0.6;
}
input[type="checkbox"]:checked + .custom-button,
input[type="radio"]:checked + .custom-button {
  opacity: 1;
}

.test-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 40px 0 0 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 35px;
  word-break: keep-all;
}
.test-contents.test-contents__width-full {
  width: 100%;
  justify-content: flex-start;
}
.navigation-buttons button {
  position: absolute;
  top: 64px;
}
.navigation-buttons button:first-child {
  left: -20%;
}
.navigation-buttons button:last-child {
  right: -20%;
}

.test-contents .disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.test-contents__bar {
  width: 100%;
  margin: 0 30px;
}
.play-sentence,
.view-sentence,
.view-sentence__accordion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 140px;
  margin: 0 0 25px 0;
  box-shadow: 0 0 6px #7e8bc129;
  background-color: #fff;
  cursor: pointer;
}
.view-sentence__accordion {
  padding: 0 30px;
  word-break: keep-all;
}
.view-sentence__accordion > img {
  margin: 0 30px 0 0;
}
.play-sentence.playing,
.play-sentence.bg-blue.playing {
  background-color: rgb(116, 205, 184);
}
.play-sentence__click > img,
.view-sentence > img,
.view-sentence__accordion > .describe-text {
  margin: 0 30px;
}
.describe-text {
  font-size: 22px;
}
.play-sentence > p {
  color: #63a4db;
}

.play-sentence.bg-blue,
.view-sentence {
  background-color: #63a4db;
  margin: 0;
}
.play-sentence.bg-blue {
  justify-content: space-between;
}
.play-sentence__click,
.view-test-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  margin: 0 25px 0 0;
}
.view-test-text > p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 30px;
  opacity: 0.9;
  margin-right: 20px;
}
.view-sentence > p {
  color: #fff;
}
.view-sentence__accordion {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.view-sentence__accordion.open {
  max-height: 140px;
}

.test-contents__bg {
  margin: 0 auto;
}
.test-contents__bg > img {
  width: 80%;
  margin: 0 auto;
}

.test-contents__view-story > p {
  font-size: 26px;
  line-height: 1.4;
}

.test-contents__qna-wrapper {
  margin: 0 0 40px 0;
}
.test-contents__questions {
  width: 100%;
  height: 100%;
  color: #6ebcc8;
  font-size: 28px;
  margin: 0 0 12px 0;
  font-weight: 600;
}
.test-contents__question-mark {
  color: white;
  font-size: 26px;
  background-color: #6ebcc8;
  text-align: center;
  border-radius: 50%;
  padding: 2px 14px;
  margin-right: 15px;
}
.test-contents__answer-wrapper {
  display: flex;
}
.test-contents__view-answer > button {
  background-color: #63a4db;
  border-radius: 30px;
  width: 70px;
  height: 37px;
  text-align: center;
  line-height: 43px;
}
.test-contents__view-question,
.test-contents__answer-list {
  width: 100%;
}
.test-contents__answer-list {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 24px;
  padding: 0 0 0 24px;
  border-radius: 30px;
  line-height: 37px;
  background-color: #eff6fc;
  font-size: 24px;
  font-weight: 400;
}
.test-contents__answer-wrapper .scoring {
  width: inherit;
}

.config-figure {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.config-figure > svg {
  width: 12%;
  height: 12%;
} */

/* License.tsx */
.main-wrapper.license {
  padding: 120px 0 0 0;
  font-family: "Pretendard Variable";
  font-weight: 400;
}

.license-key-input-text {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin: 0 0 31px 0;
}
.license-key-input {
  width: 710px;
  height: 102px;
  padding: 26px 64px;
  margin: 0 30px 0 0;
  border: none;
  border-radius: 34px;
  background: #fff;
  font-size: 32px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.license-button__check {
  width: 162px;
  height: 50px;
  border-radius: 25px;
  background-color: #40a0ff;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.license-check__pass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.license-check__pass img {
  float: left;
  margin: -100px 50px 0 0;
}
.license-check__pass a {
  margin: 0 0 0 100px;
  font-size: 30px;
}
.license-check-modal {
  float: left;
  width: 270px;
  height: 130px;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}
.license-check-modal p:first-child {
  font-size: 17px;
}
.license-check-modal p:last-child {
  margin: 30px 0 0 0;
  font-size: 24px;
}
.main-logo-bottom {
  position: absolute;
  bottom: 40px;
}
.main-logo-bottom img {
  width: 70%;
}

/* Settings.tsx */
.main-wrapper.settings {
  padding: 75px 0 0 0;
}

.settings-logo {
  width: 171px;
  margin: 0 0 50px 0;
}

.main-select-wrapper.settings {
  width: 778px;
  min-width: 778px;
  min-height: 100%;
}

.main-select-wrapper.settings .select-type {
  display: flex;
  margin: 70px 0;
}

.main-select-wrapper.settings .select-type,
.speech-speed-slider,
.speech-rate-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.select-type > p,
.speech-speed-slider > p {
  display: block;
  width: 160px;
  margin: 0;
}

.main-select-wrapper.settings .select-type__button label {
  display: inline-block;
  width: 120px;
  height: 37px;
  margin: 0 11px;
  border: 2px solid #4894fe;
  border-radius: 100px;
  color: #85888a;
  line-height: 33px;
  font-family: "Pretendard Variable";
  font-weight: 900;
  font-size: 22px;
  cursor: pointer;
}
.main-select-wrapper.settings .select-type__button input[type="radio"]:checked + label {
  border: 2px solid transparent;
  color: #fff;
  background: #4894fe;
  box-sizing: border-box;
}

.select-type__button input[type="radio"] {
  display: none;
}

.speech-speed-slider__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.speech-rate-labels {
  margin: 10px 0 0 0;
}

/* ToggleSwitch.tsx */
.toggle-switch-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-switch {
  position: relative;
  width: 51px;
  height: 31px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15),
    0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.toggle-text {
  margin-top: 11px;
  color: #8696bb;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.4s;
}

.text-on {
  color: #4894fe;
}

/* AnswerButton.tsx */
.answer-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 126px;
  height: 60px;
  margin: 0 15px;
  padding: 12px;
  border-radius: 30px;
  border: 2px solid #4894fe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.answer-checkbox p {
  margin: 0 0 0 10px;
  color: #40a0ff;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 600;
}

.answer-checkbox input {
  display: none;
}

.answer-checkbox:hover {
  background: rgba(99, 180, 255, 0.1);
}
